<div class="card md-2">
    <h3 class="card-header">{{movie.title}}</h3>
    <div class="card-body">
      <h5 class="card-title">{{movie.original_title}}</h5>
      <h6 class="card-subtitle text-muted">Original Language: {{movie.original_language.toUpperCase()}}</h6>
    </div>
    <img >
    <img style="width: 98%;height: 500px; display: block;" [src]="imgPath" alt="Movie image - {{movie.title}}">
    <div class="card-body">
      <p class="card-text">{{movie.overview.slice(0,100)}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Votes Average: {{movie.vote_average}}</li>
      <li class="list-group-item">Votes Count: {{movie.vote_count}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-primary" (click)="alertParent()">Details</a>
    </div>
  </div>